.header__logo {
  width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-top: 2px;
    width: calc(104px + (142 - 104) * ((100vw - 320px) / (768 - 320)));
    height: calc(24px + (33 - 24) * ((100vw - 320px) / (768 - 320)));
    margin-left: calc(24px + (24 - 0) * ((320px - 100vw) / (768 - 320)));
  }
}
