.popup__title {
  display: flex;
  padding: 0;
  margin: 34px 64px 0 36px;
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 330px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(22px + (29 - 22) * ((100vw - 320px) / (768 - 320)));
    margin: 25px calc(22px + (85 - 22) * ((100vw - 320px) / (768 - 320))) 0 calc(22px + (36 - 22) * ((100vw - 320px) / (768 - 320)));
    width: auto;
  }
}
