.sign-form__input {
    position: relative;
    width: 358px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #CCCCCC;
    border-radius: 4px;
    padding: 10px;
    margin: 30px auto 0 auto;
    transition: opacity 0.3s ease-in-out;
}

.sign-form__input:focus {
    background-color: rgba(189, 185, 185, 0.144);
  }

  .sign-form__input:hover {
    opacity: 0.7;
  }