.element__title {
  padding: 0;
  margin: 25px 0 25px 21px;
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 767px) {
  .element__title {
    margin: 23px 0 27px 21px;
  }
}

