.popup__error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  margin: 0;
  padding: 0;
}
