.popup__input {
  padding: 0 0 0 10px;
  width: auto;
  min-height: 37px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

.popup__input:focus {
  background-color: rgba(189, 185, 185, 0.144);
}

.popup__input:hover {
  opacity: 0.7;
}

