.footer__author {
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 1279px) {
  .footer__author {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (1280 - 320)));
  }
}
